<style>
  .camp-button {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
  margin-bottom: 0.6em;
  border-radius: 15px;
  border: 1px solid black;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 5;
  width: 400px;
}

.desctext {
  font-weight: 500;
}

.UpgradeText {
  font-weight: 700;
  font-size: 30px;
  margin: 10px;
}

.redBold {
  font-weight: 700;
  font-style: italic;
  color: red;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.buttonholder {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.campicon {
  display: flex;
  position: relative;
  width: 25px;
  height: 25px;
}


.NameandSpan {
  margin-left: 10px;
}

h2.campname {
  display: flex;
  font-size: 14px;
  font-weight: 550;
  margin: 0;
}

.campspan {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.priceArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2.campprice {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin-right: 7px;
}

.camparrow {
  display: flex;
  position: relative;
  width: 15px;
  height: 15px;
}

.daysandtimes {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.spacerbox {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.centernothanks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginzero{
  margin: 10px;
}
</style>

<div class="fullbox">
  <div class="spacerbox">
    <h2 class="UpgradeText" >Upgrade to a full week?</h1>
    <h5 class="desctext" >You have currently only selected a 2-day camp, add a 3-day camp to make it a full week of fun and <span class="redBold">GET $50 OFF your entire purchase!</span></h3>
    <hr class="marginzero">
  </div>


{% assign camps = '' %}

<div class="buttonholder">
  <div class="daysandtimes">
    <h5>Monday, Tuesday, Wednesday</h5>
    <h5>8:30am-3:30pm</h5> 
  </div>
  {% for variant in product.variants %}
    {% for option in variant.options %}
      {% if option == 'Animation Camp' or option == 'Filmmaking Camp' or option == 'Youtuber Camp' %}
      {% if camps contains option %}
        {% comment %} do nothing since the title is already in the list {% endcomment %}
        {% else %}
        {% assign camps = camps | append: ',' | append: option %}
        <div class="button-container">
          <a class="camp-button" href="{{product.url}}">
            <div class="leftBox">
              {% if option == "Animation Camp" %}
              <img class="campicon" src="https://educationstation.github.io/CCLocation/img/Animation.png" ></img>
              {% elsif option == "Filmmaking Camp" %}
              <img class="campicon" src="https://educationstation.github.io/CCLocation/img/Filmmaking.png" ></img>
              {% elsif option == "Youtuber Camp" %}
              <img class="campicon" src="https://educationstation.github.io/CCLocation/img/Youtube.png" ></img>
              {% endif %}
              <div class="NameandSpan">
                <h2 class="campname">{{ option }}</h2>
              </div>
            </div>
            <div class="priceArrow">
              <h2 class="campprice">$179.99</h2>
              <img class="camparrow" src="https://educationstation.github.io/CCLocation/img/arrow-right.svg"></img>
            </div>
          </a>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
{% endfor %}
</div>

<a class="centernothanks" href="/cart">
  No thanks
</a>




</div>
