<style>
  .section-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  }

  .container {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 90%;
  max-width: 1500px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }

  .step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }

  .div-block-201 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 100px;
  background-color: #28b9eb;
  }

  .div-block-42 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .image-65 {
  width: 20px;
  height: 20px;
}

.text-block-42 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.div-block-201 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 100px;
  background-color: #28b9eb;
}

.text-block-44 {
  font-family: 'Open Sans', sans-serif;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 700;
}

}


</style>  

<div class="section-26"> 
  <div class="container"> 
    <div class="step"> 
      <div class="div-block-201">
        <img src="images/icons8-done.svg" loading="lazy" alt="" class="image-65">
      </div> 
      <div class="text-block-42">Select Location</div> 
      </div> 
      <div class="step"> 
        <div class="div-block-201"> 
        <div class="text-block-44">2</div>  
      </div> 
      <div class="text-block-42">Select Camp</div> 
      </div> 
      <div class="step"> 
        <div class="div-block-201"> 
          <div class="text-block-44">3</div> 
          </div> 
          <div class="text-block-42">Summary</div> 
          </div> <div class="step"> 
            <div class="div-block-201"> 
              <div class="text-block-44">4</div> 
              </div> 
              <div class="text-block-42">Checkout</div> 
              </div> 
              </div>