<style>
  .progress-tracker {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75px;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #ddd;
    stroke: black;
    stroke-width: 5px;
    border-radius: 20px;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 0.875em;
    margin-right: 1em;
    opacity: 0.5;
  }

  .step-num
  {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .step.is-active {
    background-color: #28B9EB;
    opacity: 1;
  }

  .step.is-complete {
    background-color: #28B9EB;
    opacity: 0.25;
  }

  .step-label {
    margin: 0 0.5em;
    color: black;
    width: max-content;
    margin-left: 20px;

  }
</style> 

<div class="section-26 wf-section"> <div class="container"> <div class="step"> <div class="div-block-201"><img src="images/icons8-done.svg" loading="lazy" alt="" class="image-65"></div> <div class="text-block-42">Select Location</div> </div> <div class="step"> <div class="div-block-201"> <div class="text-block-44">2</div> </div> <div class="text-block-42">Select Camp</div> </div> <div class="step"> <div class="div-block-201"> <div class="text-block-44">3</div> </div> <div class="text-block-42">Summary</div> </div> <div class="step"> <div class="div-block-201"> <div class="text-block-44">4</div> </div> <div class="text-block-42">Checkout</div> </div> </div>