<style>
  .progress-tracker {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2em 0;
  }

  .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #ddd;
    stroke: black;
    stroke-width: 5px;
    border-radius: 20px;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 0.875em;
    margin-right: 1em;
    opacity: 0.5;
  }

  .step-num
  {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .step.is-active {
    background-color: #28B9EB;
    opacity: 1;
  }

  .step.is-complete {
    background-color: #28B9EB;
    opacity: 0.25;
  }

  .step-label {
    margin: 0 0.5em;
    color: black;
    width: max-content;
    margin-left: 20px;

  }
</style>

<div class="progress-tracker">
  {% assign current_step = 1 %}

  <div class="step is-active">
    <div class="step-num">{{ current_step }}</div>
    <div class="step-label">Select Location</div>
  </div>
  {% assign current_step = current_step | plus: 1 %}

  <div class="step">
    <div class="step-num">{{ current_step }}</div>
    <div class="step-label">Add-ons</div>
  </div>
  {% assign current_step = current_step | plus: 1 %}

  <div class="step">
    <div class="step-num">{{ current_step }}</div>
    <div class="step-label">Payment</div>
  </div>
  {% assign current_step = current_step | plus: 1 %}

  <div class="step">
    <div class="step-num">{{ current_step }}</div>
    <div class="step-label">Student Info</div>
  </div>
</div>