<style>
  .progress-tracker {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2em 0;
  }

  .step {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #ddd;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 0.875em;
    margin-right: 1em;
    opacity: 0.5;
  }

  .step.is-active {
    background-color: #28B9EB;
    opacity: 1;
  }

  .step.is-complete {
    background-color: #28B9EB;
    opacity: 0.25;
  }

  .step-label {
    margin: 0 0.5em;
  }
</style>

<div class="progress-tracker">
  {% assign current_step = 1 %}

  <div class="step is-active">
    <div class="step-num">{{ current_step }}</div>
    <div class="step-label">Select Location</div>
  </div>
  {% assign current_step = current_step | plus: 1 %}

  <div class="step">
    <div class="step-num">{{ current_step }}</div>
    <div class="step-label">Add-ons</div>
  </div>
  {% assign current_step = current_step | plus: 1 %}

  <div class="step">
    <div class="step-num">{{ current_step }}</div>
    <div class="step-label">Payment</div>
  </div>
  {% assign current_step = current_step | plus: 1 %}

  <div class="step">
    <div class="step-num">{{ current_step }}</div>
    <div class="step-label">Student Info</div>
  </div>
</div>