{% if template == Nil or template.name == "page" %}<script src="{{ 'storeifyapps-storelocator.js' | asset_url }}" defer="defer"></script>{% endif %}<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<a href="#" id="storeify-sl-btn-trigger-popup" data-target="#storeify-sl-light-modal-wrapper" style="background: #333333 !important;">
    <span class="material-icons-outlined align-middle" style="font-size: 48px;">pin_drop</span>
</a>
<div class="storeify-sl-light-modal" id="storeify-sl-light-modal-wrapper" role="dialog" aria-labelledby="storeify-sl-light-modal-label" aria-hidden="false">
  <div class="storeify-sl-light-modal-content animated pulse">
    <a href="#" class="storeify-sl-light-modal-close-icon" aria-label="close">&times;</a>
    <!-- light modal body -->
    <div class="storeify-sl-light-modal-body">
      [storeify-storelocator]
    </div>
    
  </div>
</div>